<section class="section archive" [@archiveAnimation] *ngIf='state'>
    <div class="container">
        <div class="archive-title">
            <h1 class="big-title">Proyectos</h1>
            <p class="archive-subtitle big-subtitle">Una lista mas completa</p>
        </div>
        <div class="archive-table-container">
            <table class="archive__StyledTable-lXDeB haZMKe">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Title</th>
                        <th class="hide-on-mobile">Made at</th>
                        <th class="hide-on-mobile">Built with</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="proyect-date">2024</td>
                        <td class="proyect-title">Sistema centralizado de precios</td>
                        <td class="proyect-company"><span>Techcronus</span></td>
                        <td class="proyect-skills">
                            <span>.NET Core MVC<span class="separator">·</span></span>
                            <span>SQL Server</span>
                        </td>
                        <td class="proyect-links">
                            <span>—</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="proyect-date">2024</td>
                        <td class="proyect-title">Sistema de gestión de graffiti</td>
                        <td class="proyect-company"><span>Techcronus</span></td>
                        <td class="proyect-skills">
                            <span>.NET Core MVC<span class="separator">·</span></span>
                            <span>MySQL<span class="separator">·</span></span>
                            <span>Google Maps API</span>
                        </td>
                        <td class="proyect-links">
                            <span>—</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="proyect-date">2023</td>
                        <td class="proyect-title">Sistema POS (Point of Sale)</td>
                        <td class="proyect-company"><span>Techcronus</span></td>
                        <td class="proyect-skills">
                            <span>WPF<span class="separator">·</span></span>
                            <span>Entity Framework<span class="separator">·</span></span>
                            <span>SQL Server</span>
                        </td>
                        <td class="proyect-links">
                            <span>—</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>