@use "./../../../../variables" as *;
.proyects {
    .proyect-container {
        display: grid;
        grid-template-columns: minmax(0, 1.15fr) minmax(0, 0.85fr);
        align-items: center;
        gap: clamp(16px, 3vw, 44px);
        margin: 56px 0;
        .proyect-info-left {
            width: auto;
            margin: 0;
            display: block;
        }
        .proyect-info-right {
            width: auto;
            margin: 0;
            display: block;
        }
        .proyect-info {
            width: 100%;
        }
        .proyect-box {
            display: block;
            .feature-proyect {
                font-size: 13px;
                font-weight: normal;
                color: $Green;
                font-family: $CodeFont;
                margin-top: 10px;
                padding-top: 0;
            }
            .proyect-name {
                font-size: 28px;
                margin: 0 0 20px;
                color: $LightestSlate;
            }
            .proyect-description-box {
                box-shadow: 0 12px 28px -18px rgba(6, 35, 43, 0.22);
                -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                position: relative;
                z-index: 2;
                padding: 25px;
                background-color: $LightNavy;
                color: $LightSlate;
                font-size: 18px;
                border-radius: 12px;
            }
            .proyect-skills {
                position: relative;
                z-index: 2;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding: 0;
                margin: 25px 0 10px;
                list-style: none;
                li {
                    margin-right: 0;
                    font-family: $CodeFont;
                    font-size: 13px;
                    color: $Slate;
                    margin-bottom: 7px;
                    white-space: nowrap;
                    .technology{
                      padding-bottom: 5px;
                    }
                }
            }
            .proyect-links {
                margin-top: 10px;
                i {
                    font-size: 22px;
                }
            }
        }
    }
}

.owl-carousel-o{
    width: 100%;
    max-width: 680px;
}
.img-feature-proyect-container {
    display:  none;
}

@media (min-width: 768px) and (max-width: 1300px) {
    .owl-carousel-o{
        display: none;
    }
    .img-feature-proyect-container {
        width: 100%;
        display: block !important;
        .img-feature-proyect {
            width: 100%;
        }
    }
    .proyect-info-right,
    .proyect-info-left {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .owl-carousel-o{
        display: none;
    }
    .proyects {
        .proyect-container {
            grid-template-columns: 1fr;
            margin: 36px 0 !important;
            .proyect-info-left {
                width: 100%;
            }
            .proyect-info-right {
                width: 100%;
            }
            .proyect-description-box {
                padding: 25px;
                color: $LightSlate;
                font-size: 18px;
                border-radius: 12px;
            }
            .proyect-info-right,
            .proyect-info-left {
                display: block !important;
                margin: 0px !important;
                .proyect-box {
                    display: block;
                }
            }
            .img-feature-proyect-container {
                display: block !important;
            }
        }
        .proyect-info-right,
        .proyect-info-left {
            padding: 0px;
        }
        .text-right,
        .text-left {
            text-align: center !important;
        }
        .justify-content-end {
            justify-content: center !important;
        }
        .justify-content-start {
            justify-content: center !important;
        }


    }
}

::ng-deep .owl-theme .owl-dots .owl-dot.active span,
 ::ng-deep .owl-theme .owl-dots .owl-dot:hover span {
    background-color: white !important;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
    background: #ffffff33;
}

.img-container {
    width: 100%;
    max-width: 680px;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(6, 35, 43, 0.08);
}

img.img-feature-proyect {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(6, 35, 43, 0.25);
    border-radius: 3px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: $Green;
    border-radius: 3px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: $Green;
}
